<div class="col-md-3">
                    <div style="margin-bottom:10px">
                    <div class="input-group">  
                        <input type="text" class="form-control"placeholder="请输入关键字" / >  
                                <span class="input-group-btn">  
                                <button class="btn btn-info btn-search">搜索</button>  
                                </span>  
                    </div>  
                    </div>
                    <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">热门文章</h3>
                    </div>
                    
                        <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            Cras justo odio
                        </li>
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            Cras justo odio
                        </li>
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            Cras justo odio
                        </li>
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            Cras justo odio
                        </li>
                        </ul>
                    
                    </div>
                     <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">最新评论</h3>
                    </div>
                    
                        <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <img class="img-circle" src="holder.js/50x50"/>
                                </div>
                                 <div class="col-md-8">
                                    <p> A Say:</p>
                                    <p>讲的不错</p>
                                </div>
                            </div>
                           
                        </li>
                         <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <img class="img-circle" src="holder.js/50x50"/>
                                </div>
                                 <div class="col-md-8">
                                    <p> A Say:</p>
                                    <p>讲的不错</p>
                                </div>
                            </div>
                           
                        </li>
                         <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <img class="img-circle" src="holder.js/50x50"/>
                                </div>
                                 <div class="col-md-8">
                                    <p> A Say:</p>
                                    <p>讲的讲的不讲的不不错</p>
                                </div>
                            </div>
                           
                        </li>
                       
                        </ul>
                    
                    </div>
                    
                   
                </div>
               </div>